fastapi
uvicorn
streamlit
pandas
numpy
requests
faiss-cpu
langchain
langchain-core
langchain-community
sentence-transformers
transformers
accelerate
torch
diffusers
safetensors
pillow
sqlite-utils
python-dotenv
pydantic
python-multipart
diffusers
transformers
accelerate